
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" [disabled]="!transactionForm.valid">Transact</button>
          <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="recipient">Recipient</label>
            <input type="text" id="recipient" formControlName="recipient">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" formControlName="amount">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
