<mat-nav-list>

  <a mat-list-item routerLink="/blockchain" (click)="onClose()">
    <span class="nav-caption">Blockchain</span>
  </a>
  <a mat-list-item routerLink="/transact" (click)="onClose()">
    <span class="nav-caption">Transact</span>
  </a>
  <a mat-list-item routerLink="/wallet" (click)="onClose()">
    <span class="nav-caption">Wallet</span>
  </a>
  <a mat-list-item routerLink="/transaction-pool" (click)="onClose()">
    <span class="nav-caption">Transaction Pool</span>
  </a>

</mat-nav-list>
