
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
          <div class="container">
            <div class="logo">
              <img id="image_logo" src="{{ path_logo }}" alt="logo">
              <h3>Welcome to pychain</h3>
            </div>
          </div>
          <div class="router row">
            <router-outlet></router-outlet>
          </div>

      </main>
  </mat-sidenav-content>
</mat-sidenav-container>
